.app-container {
  font-family: 'Inter', sans-serif;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #D6D58E;
  background: linear-gradient(90deg, #042940, #005C53);
};
  
h1 {
  color: #D6D58E;
  margin-bottom: 0.5rem;
}

